@*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - vcart.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
</footer>*@

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4">
                    <h3>V Cart</h3>
                    <p class="text-justify">There is something for everyone here. The products need for day to day life.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4 ml-md-4">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-1">About Us</a></li>
                        <li><a href="#" class="py-1">Contact Us</a></li>
                        <li><a href="#" class="py-1">Terms & Conditions</a></li>
                        <li><a href="#" class="py-1">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4">
                    <h3>Have a Questions?</h3>
                    <div class="mb-3">
                        <ul class="list-unstyled">
                            <li class="py-1"><i class="bi bi-geo-alt"></i> Viraj Complex, Narhe - 411041</li>
                            <li class="py-1"><a href="#"><i class="bi bi-phone"></i> +91- 952 778 888 7</a></li>
                            <li class="py-1"><a href="#"><i class="bi bi-envelope"></i> info@vcart.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                Copyright © @DateTime.Now.Year | All rights reserved | This website is made with <i class="bi bi-heart" aria-hidden="true"></i> by <a href="https://vcart.com" target="_blank">www.vcart.com</a>
            </div>
        </div>
    </div>
</footer>